.story-modal {
	@apply absolute w-full h-full top-0 left-0;
	clip-path: circle(1rem at 50% 91%);
	visibility: hidden;
	transition: clip-path 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;

	.story-open & {
		visibility: visible;
		clip-path: circle(75%);
	}

	.text-show-icon-wrap {
		@apply rounded-full p-9 pb-3;
		background-image: radial-gradient(
			ellipse 55% 50%,
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.55) 60%,
			transparent
		);

		.text-show-icon {
			@apply filter drop-shadow-2xl;
			animation: float 2.5s ease-in-out infinite;
		}
	}

	@keyframes float {
		0% {
			opacity: 0.3;
			transform: translateY(0px);
		}
		50% {
			opacity: 1;
			transform: translateY(-15px);
		}
		100% {
			opacity: 0.3;
			transform: translateY(0px);
		}
	}
}
